.form-summarize {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 30px;
}

.summarize-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.custom-summarize-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  border: 0.5px solid black;
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}

.generate-questions-div {
  max-width: 500px;
}
.textarea-summarize {
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

.questions-output {
  margin-top: 100px;
}
